.header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    
    .profile{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 1rem;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 2rem;
        img{
            border: 0px solid transparent;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
        }
        h1{
            background-color: #fff;
            font-size: 2.5rem;
            font-family: sans-serif;
        }
    }
    
}

